<!--@{
    ViewData["Title"] = "Exclusão de Usuários";
}

<h1 class="row justify-content-md-center">Exclusão de Usuários</h1>
<p>Usuário excluído com sucesso!</p>
<p><a href="Listagem.cshtml">Retornar para listagem de usuários.</a></p>-->